In [13]:
'''
Activity 6: Using a Nested List to Store Employee Data(My Approach)
'''
employees = [["John Mckee",38,"Sales"],["Lisa Crawford", 29, "Marketing"],["Sujan Patel", 33, "HR"]]
print(employees)
for row in employees:
    i = 0
    for col in row:
        if i == 0:
            print("Name:", col)
            i+=1
        elif i == 1:
            print("Age:", col)
            i+=1
        else:
            print("Department:", col, "\n-----------------------------")
print("Name:", employees[1][0])
print("Age:", employees[1][1])
print("Department:", employees[1][2])

[['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]
Name: John Mckee
Age: 38
Department: Sales
-----------------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
-----------------------------
Name: Sujan Patel
Age: 33
Department: HR
-----------------------------
Name: Lisa Crawford
Age: 29
Department: Marketing

In [15]:
'''
Activity 6: Using a Nested List to Store Employee Data
'''
employees = [["John Mckee",38,"Sales"],["Lisa Crawford", 29, "Marketing"],["Sujan Patel", 33, "HR"]]
for employee in employees:
    print("Name:", employee[0])
    print("Age:", employee[1])
    print("Department", employee[2])
    print("-" * 20)
# Print only Lisa Crawford's info
employee = employees[1]
print(employee)
print("Name:", employee[0])
print("Age:", employee[1])
print("Department", employee[2])
print("-" * 20)

Name: John Mckee
Age: 38
Department Sales
--------------------
Name: Lisa Crawford
Age: 29
Department Marketing
--------------------
Name: Sujan Patel
Age: 33
Department HR
--------------------
['Lisa Crawford', 29, 'Marketing']
Name: Lisa Crawford
Age: 29
Department Marketing
--------------------

In [8]:
'''
Activity 7: Storing Company Employee Table Data 
Using a List and a Dictionary(My Approach)
'''
# initialize a list
employees = [
             {
                 "Name" : "John Mckee",
                  "Age": 38,
                  "Department": "Sales"
             },
             {
                 "Name" : "Lisa Crawford",
                  "Age" : 29,
                  "Department" : "Marketing"
             },
             {
                 "Name" : "Sujan Patel",
                 "Age" : 33,
                 "Department" : "HR"
             }
            ]
print("*"*5,"Raw Data", "*"*5,"\n")
print(employees)
print("-"*40)
print("*"*5,"Full Employee List", "*"*5,"\n")
for employee in employees:
    for key in employee:
        print(key + ":", employee[key])
    print("-"*40)
print("*"*5,"Sujan Patel's Details", "*"*5,"\n")
for key in employees[2]:
    print(key + ":", employees[2][key])
print("-"*40)

***** Raw Data *****

[{'Name': 'John Mckee', 'Age': 38, 'Department': 'Sales'}, {'Name': 'Lisa Crawford', 'Age': 29, 'Department': 'Marketing'}, {'Name': 'Sujan Patel', 'Age': 33, 'Department': 'HR'}]
----------------------------------------
***** Full Employee List *****

Name: John Mckee
Age: 38
Department: Sales
----------------------------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
----------------------------------------
Name: Sujan Patel
Age: 33
Department: HR
----------------------------------------
***** Sujan Patel's Details *****

Name: Sujan Patel
Age: 33
Department: HR
----------------------------------------

In [10]:
'''
Activity 7: Storing Company Employee Table Data 
Using a List and a Dictionary
'''
# initialize a list
employees = [
             {
                 "Name" : "John Mckee",
                  "Age": 38,
                  "Department": "Sales"
             },
             {
                 "Name" : "Lisa Crawford",
                  "Age" : 29,
                  "Department" : "Marketing"
             },
             {
                 "Name" : "Sujan Patel",
                 "Age" : 33,
                 "Department" : "HR"
             }
            ]
print(employees)
for employee in employees:
    print("Name:", employee['Name'])
    print("Age:", employee['Age'])
    print("Department:", employee['Department'])
    print('-' * 20)
for employee in employees:
    if employee['Name'] == 'Sujan Patel':
        print("Name:", employee['Name'])
        print("Age:", employee['Age'])
        print("Department:", employee['Department'])
        print('-' * 20)

[{'Name': 'John Mckee', 'Age': 38, 'Department': 'Sales'}, {'Name': 'Lisa Crawford', 'Age': 29, 'Department': 'Marketing'}, {'Name': 'Sujan Patel', 'Age': 33, 'Department': 'HR'}]
Name: John Mckee
Age: 38
Department: Sales
--------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------
Name: Sujan Patel
Age: 33
Department: HR
--------------------