In [11]:
'''
Activity 6: Using a Nested List to Store Employee Data
'''
employees = [["John Mckee",38,"Sales"],["Lisa Crawford", 29, "Marketing"],["Sujan Patel", 33, "HR"]]
print(employees)
for row in employees:
    i = 0
    for col in row:
        if i == 0:
            print("Name:", col)
            i+=1
        elif i == 1:
            print("Age:", col)
            i+=1
        else:
            print("Department:", col, "\n-----------------------------")
print("Name:", )

[['John Mckee', 38, 'Sales'], ['Lisa Crawford', 29, 'Marketing'], ['Sujan Patel', 33, 'HR']]
Name: John Mckee
Age: 38
Department: Sales
-----------------------------
Name: Lisa Crawford
Age: 29
Department: Marketing
-----------------------------
Name: Sujan Patel
Age: 33
Department: HR
-----------------------------